.badge {
    align-items: center;
    border-radius: var(--border-radius);
    border: .1rem solid var(--onyx);
    box-shadow: var(--container-box-shadow);
    color: var(--color-primary);
    display: flex;
    font-size: small;
    gap: .5rem;
    justify-content: center;
    padding: .25rem .5rem;
    user-select: none;

    & .icon-svg {
        color: var(--onyx);
        height: 1rem;
        width: 1rem;
    }
}

.badge :is(b, p) {
    text-wrap: nowrap;
}

body.dark .badge {
    color: var(--color-primary-dark);
}

.badge.primary {
    border-color: var(--united-nations-blue);
}

.badge.secondary {
    background-color: var(--platinum);
    border-color: var(--silver);
    color: var(--color-primary) !important;
}

.badge.info {
    border-color: var(--united-nations-blue);
    color: var(--united-nations-blue) !important;
    font-weight: 500;
    
    & .icon-svg {
        color: var(--united-nations-blue) !important;
        height: 1.5rem;
        width: 5rem;
    }
}